In [10]:
import pandas as pd
import numpy as np

### Obtaining the data

Given the original wikipedia page changed, using the direction of an older version for the assignment.

In [11]:
Table_wiki = pd.read_html('https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=945633050', header=0)[0]
Table_wiki.head(10)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor
7      M7A  Downtown Toronto      Queen's Park
8      M8A      Not assigned      Not assigned
9      M9A         Etobicoke  Islington Avenue

Eliminating the postal codes that have no postal code assigned.

In [12]:
Table_bour = Table_wiki[Table_wiki.Borough != 'Not assigned']
Table_bour.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A  Downtown Toronto      Queen's Park
9       M9A         Etobicoke  Islington Avenue
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North

Cleaning the wikipedia table grouping together the neighbourhoods in the same post code.

In [13]:
Table_bour.dtypes

Postcode         object
Borough          object
Neighbourhood    object
dtype: object

In [14]:
Table_type = Table_bour.astype(str) 
Table = Table_type.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(', '.join).reset_index()
Table.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

Cheking the shape of the table we are going to use in the assigment

In [15]:
Table.shape

(103, 3)